<h1>Data Ingest</h1>

In [1]:
import findspark
findspark.init()

In [39]:
from pyspark.sql import SparkSession, Row, SQLContext
from pyspark.sql.types import *
from pyspark.sql import functions as F

In [3]:
spark = SparkSession.builder.config('spark.data.warehouse.dir', "file:///C:/temp").appName('Aadhar-analysis').getOrCreate()

In [4]:
df = spark.read.csv('./Aadhar-details.csv', header=True)

In [45]:
df.show(10)

+--------------+--------------------+-------------+---------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|     Registrar|    Enrolment Agency|        State| District|Sub_district|Pin_code|Gender|Age|Aadhaar_generated|Enrolment_rejected|Residents_providing_email|Residents_providing_mobile_number|
+--------------+--------------------+-------------+---------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|Allahabad Bank|A-Onerealtors Pvt...|Uttar Pradesh|Allahabad|        Meja|  212303|Female|  7|                1|                 0|                        0|                                1|
|Allahabad Bank|Asha Security Gua...|Uttar Pradesh|Sonbhadra| Robertsganj|  231213|  Male|  8|                1|                 0|                        0|                                0|
|Allahabad Bank|   SGS INDIA PVT LTD|Uttar Pradesh|Sultanpur|   Sultanpur|  227812|Female| 13|                1|                 0|                        0|                                1|
|Allahabad Bank|Sri Ramraja Sarka...|Uttar Pradesh|   Shamli|      Shamli|  247775|  Male|  6|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh|Gorakhpur|    Sahjanwa|  273001|  Male|  8|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|      Pindra|  221101|  Male| 14|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221001|  Male|  9|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221002|  Male|  4|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221002|  Male| 10|                0|                 1|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221002|  Male| 19|                1|                 0|                        0|                                1|
+--------------+--------------------+-------------+---------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 10 rows

<h1>Data Quality assessment and remedy</h1>

First of all, let us understand the dimensions of the dataset. Let us create a tuple containing the number of observations and columns of the dataframe

In [38]:
#printing shape of the dataframe
df_shape = (df.count(), len(df.columns))
print('The dataframe has {} observations and {} columns'.format(df_shape[0], df_shape[1]))

The dataframe has 440818 observations and 12 columns

Now let's assess the schema of the dataframe and identify any data quality issues that we may have to remedy

In [6]:
df.printSchema()

root
 |-- Registrar: string (nullable = true)
 |-- Enrolment Agency: string (nullable = true)
 |-- State: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Sub District: string (nullable = true)
 |-- Pin Code: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Aadhaar generated: string (nullable = true)
 |-- Enrolment Rejected: string (nullable = true)
 |-- Residents providing email: string (nullable = true)
 |-- Residents providing mobile number: string (nullable = true)

Here we see that some column names have spaces between them that may pose a problem during further analysis and extraction. Let us rename these columns so as not to have any spaces in between and with one uniform convention

In [20]:
df = df.withColumnRenamed('Sub District','Sub_district')\
.withColumnRenamed('Pin Code','Pin_code')\
.withColumnRenamed('Aadhaar generated','Aadhaar_generated')\
.withColumnRenamed('Enrolment Rejected','Enrolment_rejected')\
.withColumnRenamed('Residents providing email','Residents_providing_email')\
.withColumnRenamed('Residents providing mobile number','Residents_providing_mobile_number')

Let us check if the changes are reflected

In [23]:
df.columns

['Registrar',
 'Enrolment Agency',
 'State',
 'District',
 'Sub_district',
 'Pin_code',
 'Gender',
 'Age',
 'Aadhaar_generated',
 'Enrolment_rejected',
 'Residents_providing_email',
 'Residents_providing_mobile_number']

Let us have a look at columns that we deem can have numeric values so that we can update the datatypes of the particular columns

In [33]:
df.select(['Age','Aadhaar_generated','Enrolment_rejected','Residents_providing_email','Residents_providing_mobile_number']).show(10)

+---+-----------------+------------------+-------------------------+---------------------------------+
|Age|Aadhaar_generated|Enrolment_rejected|Residents_providing_email|Residents_providing_mobile_number|
+---+-----------------+------------------+-------------------------+---------------------------------+
|  7|                1|                 0|                        0|                                1|
|  8|                1|                 0|                        0|                                0|
| 13|                1|                 0|                        0|                                1|
|  6|                1|                 0|                        0|                                1|
|  8|                1|                 0|                        0|                                1|
| 14|                1|                 0|                        0|                                1|
|  9|                1|                 0|                        0|                                1|
|  4|                1|                 0|                        0|                                1|
| 10|                0|                 1|                        0|                                1|
| 19|                1|                 0|                        0|                                1|
+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 10 rows

<b>Note</b>: We are not considering the field Pin_code as numeric as standard numerical operations will not apply to it.

Let us change the datatype of these relavant fields. This will help us to attain descriptive statistics of these fields. After making the necessary changes, we will check if the updates are reflected in the new schema

In [34]:
#change datatype of Age column
df=df.withColumn('Age', df.Age.cast('int'))\
.withColumn('Aadhaar_generated', df.Aadhaar_generated.cast('int'))\
.withColumn('Enrolment_rejected', df.Enrolment_rejected.cast('int'))\
.withColumn('Residents_providing_email',df.Residents_providing_email.cast('int'))\
.withColumn('Residents_providing_mobile_number', df.Residents_providing_mobile_number.cast('int'))

In [44]:
df.printSchema()

root
 |-- Registrar: string (nullable = true)
 |-- Enrolment Agency: string (nullable = true)
 |-- State: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Sub_district: string (nullable = true)
 |-- Pin_code: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Aadhaar_generated: integer (nullable = true)
 |-- Enrolment_rejected: integer (nullable = true)
 |-- Residents_providing_email: integer (nullable = true)
 |-- Residents_providing_mobile_number: integer (nullable = true)

The Gender column has the first letters of the genders of the candidates. However, it would be better, if the Gender column were a bit more verbose. Let us replace the first letters of the Genders with the full genders.

In [42]:
df = df.withColumn('Gender',F.when(df.Gender=='M','Male').when(df.Gender=='F','Female').when(df.Gender=='T','Transgender'))

In [43]:
df.select('Gender').distinct().show()

+-----------+
|     Gender|
+-----------+
|     Female|
|Transgender|
|       Male|
+-----------+

In [17]:
df.createOrReplaceTempView('aadhar_info')

In [20]:
res = spark.sql('SELECT Gender, COUNT(1) AS Gender_Count FROM aadhar_info GROUP BY Gender ORDER BY 2 DESC')
res.show()

+------+------------+
|Gender|Gender_Count|
+------+------------+
|     M|      292798|
|     F|      148013|
|     T|           7|
+------+------------+

In [24]:
res =spark.sql('SELECT Gender, ROUND(AVG(Age),2) AS Average_Age FROM aadhar_info GROUP BY Gender ORDER BY 2 DESC')
res.show()

+------+-----------+
|Gender|Average_Age|
+------+-----------+
|     T|      21.43|
|     M|      20.78|
|     F|      17.57|
+------+-----------+

In [48]:
#top 3 states with enrollments for male and female both together
res = spark.sql("SELECT State, COUNT(1) AS Male_Count FROM aadhar_info \
                GROUP BY State\
                ORDER BY 2 DESC LIMIT 3").show()

+-------------+----------+
|        State|Male_Count|
+-------------+----------+
|        Bihar|     81776|
|Uttar Pradesh|     69476|
|  West Bengal|     60485|
+-------------+----------+

In [47]:
#top 3 states with enrollments for male only
res = spark.sql("SELECT State, COUNT(1) AS Male_Count FROM aadhar_info WHERE Gender = 'M'\
                GROUP BY State\
                ORDER BY 2 DESC LIMIT 3").show()

+-------------+----------+
|        State|Male_Count|
+-------------+----------+
|        Bihar|     54819|
|Uttar Pradesh|     47853|
|  West Bengal|     35660|
+-------------+----------+

In [49]:
#top 3 states with enrollments for female only
res = spark.sql("SELECT State, COUNT(1) AS Male_Count FROM aadhar_info WHERE Gender = 'F'\
                GROUP BY State\
                ORDER BY 2 DESC LIMIT 3").show()

+-------------+----------+
|        State|Male_Count|
+-------------+----------+
|        Bihar|     26957|
|  West Bengal|     24823|
|Uttar Pradesh|     21623|
+-------------+----------+

In [50]:
#top 3 districts within each of the top 3 enrollment states for both male and female
res = spark.sql("SELECT State,District, COUNT(1) AS Male_Count FROM aadhar_info \
                WHERE State IN ('Bihar','Uttar Pradesh', 'West Bengal')\
                GROUP BY State,District\
                ORDER BY 1 LIMIT ").show()

+-----+---------+----------+
|State| District|Male_Count|
+-----+---------+----------+
|Bihar|  Bhojpur|      3741|
|Bihar|    Buxar|      1038|
|Bihar|    Patna|      5251|
|Bihar|Begusarai|      1553|
|Bihar|Madhubani|      2551|
|Bihar|  Saharsa|       697|
|Bihar|  Nalanda|      2755|
|Bihar| Khagaria|      3422|
|Bihar|   Araria|      1700|
+-----+---------+----------+

In [78]:
#get average age of applicants across states
res = spark.sql("SELECT State, ROUND(AVG(Age),2) AS Average_Age FROM aadhar_info GROUP BY State ORDER BY 2 DESC")
res.show(100)

+--------------------+-----------+
|               State|Average_Age|
+--------------------+-----------+
|         Lakshadweep|       35.0|
|             Mizoram|       33.7|
|       Daman and Diu|      32.82|
|              Others|      32.42|
|           Meghalaya|      32.31|
|   Jammu and Kashmir|      28.92|
|               Assam|      28.21|
|            Nagaland|      27.41|
|              Kerala|      27.03|
|         West Bengal|      23.09|
|          Tamil Nadu|      22.59|
|             Gujarat|      22.53|
|              Punjab|      22.36|
|   Arunachal Pradesh|      20.73|
|              Odisha|      20.47|
|       Uttar Pradesh|      20.37|
|               Bihar|      19.15|
|      Madhya Pradesh|      18.77|
|          Puducherry|      18.59|
|             Tripura|      18.42|
|           Karnataka|      17.59|
|             Manipur|      16.86|
|Dadra and Nagar H...|      16.83|
|         Maharashtra|      16.64|
|               Delhi|      16.62|
|         Uttarakhand|      15.77|
|        Chhattisgarh|      15.02|
|          Chandigarh|      15.02|
|             Haryana|      14.69|
|           Rajasthan|       14.4|
|                 Goa|      13.46|
|              Sikkim|       12.4|
|           Jharkhand|      12.35|
|           Telangana|      11.12|
|    Himachal Pradesh|      10.51|
|Andaman and Nicob...|       7.57|
|      Andhra Pradesh|       7.05|
+--------------------+-----------+